.entity-dashboard-page {
  h1 {
    margin-bottom: 4rem;
  }

  table {
    margin-bottom: 2rem;
  }

  .flex-wrapper {
    display: flex;

    & > * {
      margin: 0 0.5rem;
    }

    .entity-table-item {
      flex: 1 1;
    }

    .add-entity-item {
      flex: none;

      form {
        width: 20rem;
        padding: 1.5rem 2rem;
        background-color: #fafafa;
      }
    }
  }
}
