.single-entity-page {
  .level {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: stretch;
    margin-bottom: 2rem;

    & > * {
      margin: 0 0.5rem;
    }

    .left-side {
      flex-basis: 60%;
    }

    .right-side {
      flex-basis: 40%;
    }
  }

  .title {
    margin-bottom: 0;
    line-height: 1.1;
  }

  .subtitle {
    margin-bottom: 2rem;
    color: #bbbbbb;
    line-height: 1;
  }

  .entity-info {
    display: flex;

    & > * {
      flex: 1 1 auto;
    }

    h4 {
      margin-bottom: 0rem;
    }
  }

  .add-entity-form, .update-entity-form {
    padding: 2rem 1rem;
    background-color: #fafafa;
  }
}